body, h1, h2, h2, h4, h5, h6, p, div, ul, li, a
{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container
{
    display: block;
    width: 80%;
    margin: 0 auto;
}
.headerMenu{
    list-style-type:none;
    float: right;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 14px;
}
.headerMenu li
{
    display: inline;
    color: #ffffff;

}
.headerMenu a
{
padding: 14px;
}

.headerMenu a:link
{
    color: #ffffff;

}
.headerMenu a:visited
{

    color: #666666;


}
.headerMenu a:hover
{
    background: #333333;
    color: #ffffff;
    font-weight:bold;


}
.headerMenu a:active
{

    color: #ffffff;

}
#bannerSpace
{
    display:flex;
    align-items:center;
    height:16.667vw;
}
.banner
{

    width: 90%;
    margin: 0 auto;
    color: white;
    text-align: center;

}
h1.banner
{
    display: inline-block;
    font-size: 2vw;

}
.mainSection{
    background: #333333;

    /*height: 100px;*/
}
.mainSection>div{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.shortcut
{
    color: white;
    display: inline-block;
    width: 200px;
    height: 300px;
    margin: 20px;
    background: #222222;
}
.shortcut h1
{
    font-size: 20px;
}
.shortcut p, .shortcut h1
{
    padding: 10px;
}
