body, h1, h2, h2, h4, h5, h6, p, div, ul, li, a
{
    margin:0;
    padding: 0;
    text-decoration: none;
}
html { font-size: 62.5%; }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container
{
    display: block;
    width: 80%;
    margin: 0 auto;
}
.headerMenu{

    
    list-style-type:none;
    float: right;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 1.4rem;
}
.headerMenu li
{
    display: inline;
    margin: 1.4rem;
    color: #ffffff;

}
.headerMenu a
{
padding: 1.4rem;
}

.headerMenu a:link
{
    color: #ffffff;

}
.headerMenu a:visited
{

    color: #666666;


}
.headerMenu a:hover
{
    background: #333333;
    color: #ffffff;
    font-weight:bold;


}
.headerMenu a:active
{

    color: #ffffff;

}

.banner
{

    width: 90%;
    margin: 0 auto;
    color: white;
    text-align: center;

}
h1.banner
{
    display: inline-block;
    font-size: 4rem;
    line-height: 28rem;
}
